.conteiner {
    width: 100%;
    background-color: #fafafa;
    margin: 0;
}

.header {
    background-color: #264d8f;
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 440px;
    height: 845px;
    margin: 0 auto;
    background-image: url(./img/site.png);
    background-repeat: no-repeat;
}

.code, .href {
    color: #ffffff;
    display: block;
    text-align: center;
    text-transform: none;
    font-size: 24px;
}

.href:hover {
    text-decoration: none;
    color: #000000;
}

.code:hover {
    text-decoration: none;
    color: #000000;
}